:root {
  --bg-color: #2a2a2a;
  --black-color: #181818;
  --red-color: #8d3333;
  --purple-color: #784491;
  --white-color:rgb(204, 204, 204);

  --small-size:1.125rem;
  --code-size: 1.25rem;
  --regular-size:1.5rem;
  --medium-size:2.5rem;
  --large-size:10rem;
}

* {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: 50ms;
}

/* Text */
.heading {
  text-align: center;
  font-size: var(--large-size);
  color: var(--red-color);
  text-decoration: underline dashed;
  
  width:50rem;
  margin:0 auto;
  background-color: var(--black-color);
  border-radius: 2rem;
  margin-top:20px;
}


/* Misc */

.fill {
  height: 100vh;
  min-height: 40rem;
}

.footer {
  position: absolute;
  bottom: -4.5rem;

  background-color: var(--black-color);
  height: 9rem;
  width: 100%;
}

.contact-links {
  position:absolute;
  width: 100%;
  text-align: center;
  bottom: 4rem;
}
.contact-links ul {
  width:100%;
  display:table;
  list-style: none;
}
.contact-links ul li {
  display:table-cell;
  background-color: var(--black-color);
}