:root {
  --bg-color: #2a2a2a;
  --gray-color: #242222;
  --black-color: #181818;
  --red-color: #8d3333;
  --purple-color: #784491;
  --white-color:rgb(204, 204, 204);

  --small-size:1.125rem;
  --code-size: 1.25rem;
  --regular-size:1.5rem;
  --medium-size:2.5rem;
  --large-size:10rem;
}

* {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: 50ms;
}



.heading {
  text-align: center;
  font-size: var(--large-size);
  color: var(--red-color);
  text-decoration: underline dashed;
  
  width:50rem;
  margin:0 auto;
  background-color: var(--black-color);
  border-radius: 2rem;
  margin-top:20px;
}

.footer {
  position: absolute;
  bottom: -4.5rem;
  background-color: var(--gray-color);
  height: 14rem;
  width: 100%;
  border-top:var(--purple-color) solid 5px;
}

.fill {
  height: 100vh;
  min-height: 40rem;
}



.contact-links {
  position:absolute;
  width: 100%;
  text-align: center;
  bottom: 4rem;
}
.contact-links ul {
  width:100%;
  display:table;
  list-style: none;
}
.contact-links ul li {
  display:table-cell;
  background-color: var(--gray-color);
}
.contact-links ul li a {
  background-color: var(--gray-color);
  height: 100px;
  width: 100px;
}


.link {
  background-color: var(--gray-color);
  height: 75px;
  transition: ease-in-out 100ms;
}
.link:hover {
  filter:opacity(50%);
  filter:hue-rotate(45%);
}

.grid {
  margin-top: 250px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.grid-item {
  color: var(--black-color);
  background-color: var(--white-color);
  border: 5px solid var(--red-color);
  padding: 50px;
  font-size: 30px;
  text-align: center;
}